<ion-content class="bgGlobal">
  <ion-row>
    <ion-col>
      <img src="../../assets/logo.png" style="margin-top: 7em;">
    </ion-col>    
  </ion-row>

  <ion-row>
    <ion-col style="text-align: center;">                      
      <input type="text" placeholder="Correo Electronico" class="css-input" [(ngModel)]="email" >      
    </ion-col>    
  </ion-row>

  <ion-row>
    <ion-col style="text-align: center;">
      <input type="password"  placeholder="Contraseña"class="css-input" [(ngModel)]="password" >
      
    </ion-col>    
  </ion-row>

  <ion-row>
    <ion-col style="text-align:center;">
      <ion-button style="margin-left: 45px;" [routerLink]="['/registro']" >Registarse</ion-button>
    </ion-col>    
    <ion-col style="text-align: center;">
      <ion-button (click)="login()" >Login</ion-button> 
    </ion-col> 
  </ion-row>

  

  
</ion-content>
