ion-toolbar {--background: transparent;--ion-color-base: transparent !important;}
.css-input {
    padding: 9px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #a5a5a5;
    color: #000000;
    border-style: solid;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.css-input:focus {
    outline:none;
}