<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgGlobal">
  <ion-row>
    <ion-col>
      <img src="../../assets/logo.png" style="margin-top: 7em;">
    </ion-col>    
  </ion-row>

  <ion-row>
    <ion-col style="text-align: center;">                      
      <input type="text" placeholder="Correo Electronico" class="css-input">      
    </ion-col>    
  </ion-row>

  <ion-row>
    <ion-col style="text-align: center;">
      <input type="password"  placeholder="Contraseña"class="css-input">
      
    </ion-col>    
  </ion-row>
  <ion-row>
    <ion-col style="text-align: center;">
      <input type="password"  placeholder="Confirmar Contraseña"class="css-input">
      
    </ion-col>    
  </ion-row>

  <ion-row>
    <ion-col style="text-align:center;">
      <ion-button >Registarse</ion-button>
    </ion-col>    
  </ion-row>
